<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
	<!-- TRACE DEBUG INFO WARN ERROR FATAL OFF -->
	<Properties>
		<!-- <Property name="logDir">${sys:catalina.home}/logs</Property> -->
		<Property name="logDir">${sys:catalina.base}/logs</Property>
		<!-- <Property name="logDir">logs</Property> -->
		<Property name="logLayoutTomcat">%d{dd-MMM-yyyy HH:mm:ss.SSS} %level [%t] %C.%M:%L - %msg%n</Property>
		<Property name="logLayout1">%d %-7level %logger{36} - %msg%n</Property>
		<Property name="logLayout2">%d %-7level [%t] %C.%M:%L - %msg%n</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${logLayoutTomcat}" />
		</Console>
		<File name="AppLog" fileName="${logDir}/app.log">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.sointe" level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<!-- <AppenderRef ref="AppLog" /> -->
		</Logger>
<!-- 		<Logger name="org.springframework" level="info" -->
<!-- 			additivity="false"> -->
			<!-- <AppenderRef ref="AppLog" /> -->
<!-- 			<AppenderRef ref="Console" /> -->
<!-- 		</Logger> -->
		<Logger name="org.thymeleaf" level="info" additivity="false">
			<!-- <AppenderRef ref="AppLog" /> -->
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.apache.shiro" level="trace" additivity="false">
			<!-- <AppenderRef ref="AppLog" /> -->
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			<!-- Only events at DIAG level or more specific are sent to the console. -->
			<!-- <AppenderRef ref="Console" level="diag" /> -->
			<AppenderRef ref="AppLog" level="debug" />
		</Root>
	</Loggers>
</Configuration>