<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
	<!-- TRACE DEBUG INFO WARN ERROR FATAL OFF -->
	<Properties>
		<Property name="logDir">${sys:app.home}/log</Property>
		<Property name="logLayoutTomcat">%d{dd-MMM-yyyy HH:mm:ss.SSS} %level [%t] %C.%M:%L - %msg%n</Property>
		<Property name="logLayout1">%d %-7level %logger{36} - %msg%n</Property>
		<Property name="logLayout2">%d %-7level [%t] %C.%M:%L - %msg%n</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${logLayoutTomcat}" />
		</Console>
		<RollingFile name="SHARED" fileName="${logDir}/shared.log"
			filePattern="${logDir}/shared.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/shared.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>

		<RollingFile name="Springframework" fileName="${logDir}/springframework.log"
			filePattern="${logDir}/springframework.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/springframework.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="Apache" fileName="${logDir}/apache.log"
			filePattern="${logDir}/apache.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/apache.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="James" fileName="${logDir}/james.log"
			filePattern="${logDir}/james.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/james.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="TransportProtocols" fileName="${logDir}/transportprotocols.log"
			filePattern="${logDir}/transportprotocols.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/transportprotocols.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="MAILBOXMANAGER" fileName="${logDir}/mailboxmanager.log"
			filePattern="${logDir}/mailboxmanager.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/mailboxmanager.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="MAILETCONTAINER" fileName="${logDir}/mailetcontainer.log"
			filePattern="${logDir}/mailetcontainer.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/mailetcontainer.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="DNSSERVICE" fileName="${logDir}/dnsservice.log"
			filePattern="${logDir}/dnsservice.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/dnsservice.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="IMAPSERVER" fileName="${logDir}/imapserver.log"
			filePattern="${logDir}/imapserver.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/imapserver.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="POP3SERVER" fileName="${logDir}/pop3server.log"
			filePattern="${logDir}/pop3server.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/pop3server.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="SMTPSERVER" fileName="${logDir}/smtpserver.log"
			filePattern="${logDir}/smtpserver.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/smtpserver.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="LMTPSERVER" fileName="${logDir}/lmtpserver.log"
			filePattern="${logDir}/lmtpserver.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/lmtpserver.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="MAILREPOSITORYSTORE" fileName="${logDir}/mailrepositorystore.log"
			filePattern="${logDir}/mailrepositorystore.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/mailrepositorystore.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="USERSREPOSITORY" fileName="${logDir}/usersrepository.log"
			filePattern="${logDir}/usersrepository.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/usersrepository.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="FETCHMAIL" fileName="${logDir}/fetchmail.log"
			filePattern="${logDir}/fetchmail.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/fetchmail.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="DOMAINLIST" fileName="${logDir}/domainlist.log"
			filePattern="${logDir}/domainlist.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/domainlist.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="VIRTUALUSERTABLE" fileName="${logDir}/virtualusertable.log"
			filePattern="${logDir}/virtualusertable.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/virtualusertable.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
		<RollingFile name="MAILQUEUEFACTORY" fileName="${logDir}/mailqueuefactory.log"
			filePattern="${logDir}/mailqueuefactory.%d{yyyy-MM-dd}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="${logLayoutTomcat}"
				charset="UTF-8" />
			<Policies>
<!-- 				<OnStartupTriggeringPolicy /> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 				<TimeBasedTriggeringPolicy /> -->
			</Policies>
<!-- 			<DefaultRolloverStrategy> -->
<!-- 				<Delete basePath="${logDir}" maxDepth="2"> -->
<!-- 					<IfFileName -->
<!-- 						glob="target/log4j2/roll-by-time-and-size/mailqueuefactory.*.log.gz" /> -->
<!-- 					<IfLastModified age="20d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- Update the FQDN of the class "name" for each "Logger" accordingly -->
		<Logger name="org.springframework" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="Springframework" level="debug" />
		</Logger>
		<Logger name="org.apache" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="Apache" level="info" />
		</Logger>
		<Logger name="org.apache.james" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="James" level="debug" />
		</Logger>
		<Logger name="org.apache.james.transport" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="TransportProtocols" level="debug" />
		</Logger>
		<Logger name="org.apache.james.protocols" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="TransportProtocols" level="debug" />
		</Logger>
		<Logger name="org.apache.james.mailboxmanager" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="MAILBOXMANAGER" level="debug" />
		</Logger>
		<Logger name="org.apache.james.mailetcontainer" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="MAILETCONTAINER" level="debug" />
		</Logger>
		<Logger name="org.apache.james.dnsservice" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="DNSSERVICE" level="debug" />
		</Logger>
		<Logger name="org.apache.james.imapserver" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="IMAPSERVER" level="debug" />
		</Logger>
		<Logger name="org.apache.james.pop3server" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="POP3SERVER" level="debug" />
		</Logger>
		<Logger name="org.apache.james.smtpserver" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="SMTPSERVER" level="debug" />
		</Logger>
		<Logger name="org.apache.james.lmtpserver" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="LMTPSERVER" level="debug" />
		</Logger>
		<Logger name="org.apache.james.mailrepositorystore" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="MAILREPOSITORYSTORE" level="debug" />
		</Logger>
		<Logger name="org.apache.james.usersrepository" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="USERSREPOSITORY" level="debug" />
		</Logger>
		<Logger name="org.apache.james.fetchmail" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="FETCHMAIL" level="debug" />
		</Logger>
		<Logger name="org.apache.james.domainlist" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="DOMAINLIST" level="debug" />
		</Logger>
		<Logger name="org.apache.james.virtualusertable" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="VIRTUALUSERTABLE" level="debug" />
		</Logger>
		<Logger name="org.apache.james.mailqueuefactory" additivity="false">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="MAILQUEUEFACTORY" level="debug" />
		</Logger>

		<Root level="trace">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="SHARED" level="info" />
		</Root>
	</Loggers>
</Configuration>